.counter {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25%;
    border: 1px solid black;
    align-items: center;
    margin-left: 32%;
    margin-top: 3%;
}

.buttons {
    display: flex;
    margin-bottom: 2%;
}

.buttons Button {
    margin: 0 1rem;
}

.toggle {
    margin-bottom: 2%;
}
